html, body {
    margin: 0;
    padding: 0;
    background-color: #98290E;
}


@media (max-width:513px){
    html, body {
        margin: 0;
        padding: 0;
        background-color: #ca6c90;
    }
    
    
    
}


nav{
    display: block;
    width: 100%;
    text-align: center;
    /* padding-top: 20px;
    padding-bottom: 20px; */
}


nav#main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    font-family: 'Biryani', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
    position: fixed;
	top: 0;
    z-index: 9999;
    width: 100%;
    background-color: #f1cc47;
    overflow: hidden;
    flex-wrap: wrap;
 
  
}
    


nav#main-nav ul li {
    display: inline-block;

}

nav#main-nav ul li a {
    display: inline-block;
    color: #98290E;
    padding: 24px;
    text-decoration: none;
    transition: all .5s;
    
} 


@media (max-width:886px){
    nav#main-nav ul li a{
        font-size: 14px;
        padding-top:7px;
        padding-bottom: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}








nav#main-nav ul li a:hover {
    background-color: #F0B212;
}

/* padding - goes inside (keeps content from inside edges)
margin - goes outside (keeps content from touch each other) */



nav#main-nav ul li a.selected {
    background-color: #F0B212;
}



#banner {
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/singer-and-actress-cher-poses-for-a-fashion-session-in-a-news-photo-1621520347.);
    padding-top: 2rem;
    padding-bottom: 20rem;
    background-size:cover;
    display:block;
    background-position: 20% 11%;
    background-repeat:no-repeat;
    width: 100%;
  }



@media (max-width:886px){
    #banner {
        background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/singer-and-actress-cher-poses-for-a-fashion-session-in-a-news-photo-1621520347.);
        padding-top: 2rem;
        padding-bottom: 20rem;
        background-size:cover;
        display:block;
        background-position: 20% 11%;
        background-repeat:no-repeat;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 3rem;
        height: 2rem;
      }
    
} 



#banner h1 {
  
    font-family: jeanne-moderno-ultra, serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    font-size: 8em;
    padding-right:2rem;
    color: #E5CA37;
    z-index: 1;
    margin-bottom: -36px;
    text-align: right;

}
@media (max-width:423px){
    #banner h1 {
  
        font-family: jeanne-moderno-ultra, serif;
        font-weight: 800;
        font-style: normal;
        text-transform: uppercase;
        font-size: 5em;
        padding-right:2rem;
        color: #E5CA37;
        z-index: 1;
        margin-bottom: -36px;
        text-align: right;
    
    }
   
}



#banner h2{
    font-family: 'Biryani', sans-serif;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: .15em;
    padding-right: 3rem;
    color: #E5CA37;
    text-align: right;
    z-index: 2;
    margin-top: 0;
    margin-right: 0;
    
}

@media (max-width:423px){
    #banner h2 {
  
    font-family: 'Biryani', sans-serif;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .15em;
    padding-right: 3rem;
    color: #E5CA37;
    text-align: right;
    z-index: 2;
    margin-top: 0;
    margin-right: 0;
    }
   
}




p {
    padding-left: 9rem;
    padding-right: 9rem;
    font-family: 'Biryani', sans-serif;
    font-weight: 300;
    color: #e4c895;
    letter-spacing: .1em;
    display: block;
    
}

@media (max-width:886px){
    p {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        font-family: 'Biryani', sans-serif;
        font-weight: 300;
        color: #e4c895;
        letter-spacing: .1em;
        display: block;
        font-size: 18px;
    }    
}

@media (max-width:855px){
    blockquote p {
        display: none;
    
    }    
}




.intro-background {
    font-size: 1.2rem;
    letter-spacing: .2em;
    color: white;
    padding-bottom: 10rem;
    padding-top: 8rem;


}



.intro {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #b33819;
    font-size: 1.5rem;
    font-weight:600;
} 



footer {
    color: #98290E;
    background-color: #f1cc47;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
    text-align: right;
    position:fixed;bottom:0;left:0;right:0;
    flex-wrap: wrap;
}

@media (max-width:886px){
    footer {
        color: #98290E;
        background-color: #f1cc47;
        padding-top: 2px;
        padding-bottom: 2px;
        width: 100%;

        text-align: right;
        position:fixed;bottom:0;left:0;right:0;
        flex-wrap: wrap;
    }
}





footer p {
    font-family: 'Biryani', sans-serif;
    font-weight: 400;
    padding-right: 3rem;
    color: #98290E;
}


@media (max-width:886px){
    footer p {
        font-family: 'Biryani', sans-serif;
        font-weight: 400;
        padding-right: 3rem;
        margin-bottom: 8px;
        margin-top: 14px;
        color: #98290E;
        font-size: 14px;
    }
    
}




h2 {
    margin-top:7rem;
    margin-bottom:2.5rem;
    margin-right: 55rem;
    padding-left: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #f1cc47;
    font-family: 'Biryani', sans-serif;
    font-weight: 800;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: 2rem;
}

/* @media (max-width:886px){
    h2 {
        margin-top: 5rem;
        margin-bottom: 2.5rem;
        margin-right: 55rem;
        padding-left: 0rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: #f1cc47;
        font-family: 'Biryani', sans-serif;
        font-weight: 800;
        letter-spacing: .2rem;
        text-transform: uppercase;
        font-size: 2rem;

    }
    
} */


@media (max-width:625px){
    h2 {
        margin-top: 5rem;
        margin-bottom: 2.5rem;
        margin-right: 55rem;
        padding-left: 0rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: #f1cc47;
        font-family: 'Biryani', sans-serif;
        font-weight: 800;
        letter-spacing: .2rem;
        text-transform: uppercase;
        font-size: 20px;



    }
    
}
/* 
.titlebackgrounds {
    background-color: #1935b3;
    width: 35%;

} */

/* @media (max-width:627px){
    .titlebackgrounds {
    padding-top: 2rem;
    padding-right: 0rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    font-size: 18px;
    width: 45%;
}
    
    
} */






h3 {
    margin-left: 5rem;
    margin-bottom: 0;
    margin-top: 3rem;
    padding-left: 4rem;
    color: #f1cc47;
    font-family: 'Biryani', sans-serif;
    font-weight: 600;
    letter-spacing: .2rem;
    font-size: 1.5rem;
}

@media (max-width:627px){
    h3 {
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 3rem;
        padding-left: 4rem;
        color: #f1cc47;
        font-family: 'Biryani', sans-serif;
        font-weight: 600;
        letter-spacing: .2rem;
        font-size: 20px;
    }
    
}




#achievements {
    padding-bottom: 7rem;
    

}


.achievementstitle {
    background-color: #5e8cc0;
    padding-top: 2rem;
    padding-right: 8rem;
    padding-bottom: 2rem;
    padding-left: 5rem;

}

@media (max-width:627px){
    .achievementstitle {
        background-color: #5e8cc0;
        padding-top: 2rem;
        padding-right: 0;
        padding-bottom: 2rem;
        padding-left: 2rem;
    }
    
}

@media (max-width:513px){
    .achievementstitle {
        background-color: transparent;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 2rem;
    
    
    }
    
    
}


.copyspacing {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-bottom: 7rem;
    background-color: #b33819;
    width: 100%;
}



.cheroscars {
    float: left;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 18rem;
}

.cherbillboard {
    float: right;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 26rem;
}

.cherglam {
    float: left;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 18rem;
}

.public {
    background-color: #c04d3e;
    padding-top: 2rem;
    padding-right: 8rem;
    padding-bottom: 2rem;
    padding-left: 5rem;

}

@media (max-width:513px){
    .public {
        background-color: transparent;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 2rem;
    
    
    }
    
    
}





#public-image {
    padding-bottom: 7rem;
}

.featherdress {
    float: left;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 30rem;
}

@media (max-width:627px){
    .featherdress {
        float: left;
        margin-right: 2.5rem;
        margin-bottom: 2rem;
        object-fit: cover;
        width: 25rem;
    }
    
    
}

.cherdrag {
    float: left;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 30rem;
}

@media (max-width:627px){
    .cherdrag {
        float: left;
        margin-right: 2.5rem;
        margin-bottom: 2rem;
        object-fit: cover;
        width: 25rem;
    }
    
    
}


blockquote {
    border-left: 10px solid #F0B212;
    overflow: auto
}

blockquote p {
    padding-left: 3rem;
    padding-right: 10rem;
    color: #f1cc47;
    font-family: 'Bigshot One', cursive;
    font-size: 1.4rem;
    letter-spacing: .4rem;
    line-height: 2rem;

   
}
.fashionquote { 
    float: left; 
    margin-left: 14rem;  
    margin-top:4rem;
    margin-bottom: 4rem;
    font-size: 18px; 
}

#philanthropy {
    padding-bottom: 7rem;
}


.philanthropytitle {
    background-color: #636ecf;
    padding-top: 2rem;
    padding-right: 8rem;
    padding-bottom: 2rem;
    padding-left: 5rem;


}

@media (max-width:513px){
    .achievementstitle, .legacyandimpacttitle, .public-title, .philanthropytitle {
        background-color: transparent;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 2rem;
    
    
    }
    
    
}

.children {
    float: right;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 30rem;

}

.soldiers {
    float: left;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 19rem;

    
}


@media (max-width:627px){
    .soldiers {
        float: left;
        margin-right: 2.5rem;
        margin-bottom: 2rem;
        object-fit: cover;
        width: 26rem;
      
    }
    
}


.habitatforhumanity {
    float: right;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 30rem;

}

@media (max-width:627px){
    .habitatforhumanity {
        float: right;
        margin-left: 2.5rem;
        margin-bottom: 2rem;
        object-fit: cover;
        width: 26rem;
    
    }
    
    
}

.lgbtqrights {
    float: left;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 35rem;
}

#legacy-and-impact {
    padding-bottom: 7rem;
}


.legacyandimpacttitle {
    background-color: #A35B8E;
    padding-top: 2rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
    padding-left: 5rem;

}
@media (max-width:513px){
    .legacyandimpacttitle {
        background-color: transparent;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 2rem;
    
    
    }
    
    
}



.cherfeathers {
    float: left;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 23rem;
}


.cherandbowie {
    float: left;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 23rem;
}

.thepoliticsoflife {
    float: left;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 23rem;
}

.featureportrait {
    float: left;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 23rem;
}

.manquote { 
    float: left; 
    margin-left: 10rem;  
    margin-top:4rem;
    margin-bottom: 4rem;
    margin-right: -8rem;
}


@media (max-width:627px){
    .cheroscars, .cherbillboard, .cherglam, .featherdress, .cherdrag, .children, .soldiers, .habitatforhumanity, .lgbtqrights, .soldiers, .cherfeathers, .cherandbowie, .thepoliticsoflife, .featureportrait{
        width: 100%;
    }
    
}



